<div class="app">
  <div class="">
    <div class="web-preview-header web-preview-header--responsive">
      <div>

        <h1 class="app-name" style="padding-top: 15px;">DiloConSeñas</h1>
      </div>
      <div class="device-type-selector align-center"></div>
    </div>
    <div class="web-renderer-wrapper--responsive framed">
      <div class="responsive-preview-frame-wrapper">
        <div class="responsive-preview-frame-inner-wrapper"
          style="width: 434px; height: 841px; transform: scale(0.970488);">
          <div class="device-frame"><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 440 860" xml:space="preserve">
              <style type="text/css">
                .st0 {
                  fill: #424242;
                }

                .st1 {
                  fill: #616161;
                }

                .st2 {
                  fill: #333333;
                }

                .st3 {
                  fill: none;
                }
              </style>
              <path class="st0"
                d="M433.6,157.4v97.4c0,0.6-0.7,1.2-1.5,1.2h-2.8v-99.8h2.8C432.9,156.2,433.6,156.8,433.6,157.4z"></path>
              <path class="st1"
                d="M429.3,256v527.1c0,37.7-30.7,68.4-68.4,68.4H80.1c-37.7,0-68.4-30.7-68.4-68.4V300v-61.5v-20.9v-61.5v-31.5 V94.2V75.4C11.7,37.7,42.4,7,80.1,7h280.7c37.7,0,68.4,30.7,68.4,68.4v80.8V256z M423,783.1V75.4c0-34.3-27.9-62.2-62.2-62.2H80.1 C45.8,13.2,18,41.1,18,75.4v707.6c0,34.3,27.8,62.2,62.2,62.2h280.7C395.2,845.2,423,817.4,423,783.1z">
              </path>
              <path class="st2"
                d="M423,75.4v707.6c0,34.3-27.8,62.2-62.2,62.2H80.1c-34.3,0-62.2-27.8-62.2-62.2V75.4c0-34.3,27.8-62.2,62.2-62.2 h280.7C395.2,13.2,423,41.1,423,75.4z M415.5,781.5V76.3c0-30.6-24.8-55.3-55.3-55.3H80.8c-30.5,0-55.3,24.8-55.3,55.3v705.2 c0,30.6,24.8,55.3,55.3,55.3h279.4C390.7,836.8,415.5,812,415.5,781.5z">
              </path>
              <path class="st0" d="M11.7,238.6V300H8.9c-0.8,0-1.5-0.5-1.5-1.2v-59.1c0-0.7,0.7-1.2,1.5-1.2H11.7z"></path>
              <path class="st0" d="M11.7,156.2v61.5H8.9c-0.8,0-1.5-0.5-1.5-1.2v-59.1c0-0.6,0.7-1.2,1.5-1.2H11.7z">
              </path>
              <path class="st0" d="M11.7,94.2v30.5H8.9c-0.8,0-1.5-0.5-1.5-1.2V95.3c0-0.7,0.7-1.2,1.5-1.2H11.7z"></path>
              <line class="st3" x1="11.7" y1="156.2" x2="11.7" y2="124.7"></line>
              <line class="st3" x1="11.7" y1="238.6" x2="11.7" y2="217.7"></line>
              <path class="st3" d="M429.3,256v527.1c0,37.7-30.7,68.4-68.4,68.4H80.1c-37.7,0-68.4-30.7-68.4-68.4V300">
              </path>
            </svg></div>
          <div id="responsive-preview-frame" class="responsive-preview-frame responsive-preview-frame--mobile">
            <div class="css-175oi2r" style="flex: 1 1 0%; background-color: rgb(238, 238, 238);">
              <div class="css-175oi2r r-123tt9 r-13awgt0">
                <div class="css-175oi2r r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu"
                  style="transform: translateX(0px);">
                  <div class="css-175oi2r r-1udh08x r-13awgt0" style="background-color: rgb(255, 255, 255);">
                    <div class="css-175oi2r r-13awgt0">
                      <div class="css-175oi2r r-13awgt0">
                        <div
                          class="css-175oi2r r-150rngu r-eqz5dr r-16y2uox r-1wbh5a2 r-11yh6sk r-1rnoaur r-agouwx r-13awgt0 r-2eszeu">
                          <div class="css-175oi2r">
                            <div class="css-175oi2r" style="padding-top: 20px; padding-bottom: 60px;">
                              <div class="css-175oi2r" style="height: 685px; min-height: 100%;">
                                <div class="css-175oi2r r-12vffkv"
                                  style="position: absolute; transform: translateX(0px) translateY(0px); width: 100%;">
                                  <div class="css-175oi2r r-12vffkv"
                                    style="width: 100%; margin-top: 0px; margin-left: 0px; left: 0px; right: 0px; height: 685px;">
                                    
                                    <div class="css-175oi2r r-12vffkv"
                                      style="position: absolute; top: 38px; transform: translateX(-15px) translateY(0px); left: 91.2821%; width: 30px; height: auto; z-index: 2;">
                                    
                                    </div>
                                    <div class="css-175oi2r r-12vffkv"
                                      style="position: absolute; top: 36px; transform: translateX(0px) translateY(0px); left: 35%; width: 18.9744%; height: auto; z-index: 3;">
                                      <div class="css-175oi2r r-12vffkv" style="position: relative;">
                                        <div class="css-175oi2r r-105ug2t"
                                          style="top: 0px; left: 0px; width: 100%; height: auto; z-index: 3; position: relative; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                          <div style="display: flex; flex: 1 1 0%; position: relative;">
                                            <div dir="auto" class="css-146c3p1"
                                              style="color: rgb(113, 99, 203); font-size: 27px; font-weight: 500; text-align: left; font-family: inherit; min-height: 32px; flex: 1 1 0%; width: 100%;">
                                              Traductor</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                   
                                    <div class="css-175oi2r r-12vffkv" style="border-radius: 10px;">
                                      <video #video style="margin-top: 150px; border-radius: 10px; margin-left: 20px; margin-right: 20px; width: 90%; height: 100%;  transform: scaleX(-1);" autoplay [srcObject]="stream"></video>
                                      <canvas #canvas ></canvas>
                                      <h1 style="margin-top: -100px; z-index: 1; text-align: center;">{{gesto}}</h1>
                                  </div>
                                  
                                  
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="css-175oi2r r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-184en5c r-12vffkv"
                      style="padding-top: 20px; padding-bottom: 40px;">
                      <div class="css-175oi2r r-13awgt0 r-1mdbw0j r-12vffkv"></div>
                    </div>
                  </div>
                  <div class="css-175oi2r r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu r-13w96dm" style="opacity: 1;">
                  </div>
                </div>
                <div class="css-175oi2r r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu"
                  style="transform: translateX(0px);">
                  <div class="css-175oi2r r-1udh08x r-13awgt0" style="background-color: rgb(255, 255, 255);">
                    <div class="css-175oi2r r-13awgt0">
                      <div class="css-175oi2r r-13awgt0">
                        <div
                          class="css-175oi2r r-150rngu r-eqz5dr r-16y2uox r-1wbh5a2 r-11yh6sk r-1rnoaur r-agouwx r-13awgt0 r-2eszeu">
                          <div class="css-175oi2r">
                            <div class="css-175oi2r" style="padding-top: 20px; padding-bottom: 60px;">
                              <div class="css-175oi2r" style="height: 685px; min-height: 100%;">
                                <div class="css-175oi2r r-12vffkv"
                                  style="position: absolute; transform: translateX(0px) translateY(0px); width: 100%;">
                                  <div class="css-175oi2r r-12vffkv"
                                    style="width: 100%; margin-top: 0px; margin-left: 0px; left: 0px; right: 0px; height: 685px;">
                                    <div class="css-175oi2r r-12vffkv"
                                      style="position: absolute; top: 32px; transform: translateX(-17px) translateY(0px); left: 10.2564%; width: 34px; height: auto; z-index: 1;">
                                      <div class="css-175oi2r r-12vffkv" style="position: relative;">
                                        <div class="css-175oi2r r-12vffkv"
                                          style="height: auto; top: 0px; left: 0px; width: 100%; z-index: 1; position: relative; margin-left: 0px; margin-top: 0px; right: 0px;">
                                          <div class="css-175oi2r"
                                            style="height: 34px; width: 34px; display: flex; align-items: center; justify-content: center;">
                                            <div tabindex="0" class="css-175oi2r r-1loqt21 r-1otgn73">
                                              <div class="css-175oi2r"
                                                style="position: absolute; top: 3.4px; left: 3.4px; width: 61.2px; height: 61.2px; border-radius: 30.6px; background-color: rgb(113, 99, 203); transform: scale(0.01); opacity: 0.3;">
                                              </div>
                                              <div class="css-175oi2r r-1awozwy r-1777fci"
                                                style="width: 68px; height: 68px;">
                                                <div dir="auto" class="css-146c3p1 r-lrvibr"
                                                  style="font-size: 34px; color: rgb(113, 99, 203); font-family: MaterialIcons; font-weight: normal; font-style: normal;">
                                                  </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="css-175oi2r r-12vffkv"
                                      style="position: absolute; top: 38px; transform: translateX(-15px) translateY(0px); left: 91.2821%; width: 30px; height: auto; z-index: 2;">
                                      <div class="css-175oi2r r-12vffkv" style="position: relative;">
                                        <div class="css-175oi2r r-12vffkv"
                                          style="height: auto; top: 0px; left: 0px; width: 100%; z-index: 2; position: relative; margin-left: 0px; margin-top: 0px; right: 0px;">
                                          <div class="css-175oi2r"
                                            style="height: 30px; width: 30px; display: flex; align-items: center; justify-content: center;">
                                            <div tabindex="0" class="css-175oi2r r-1loqt21 r-1otgn73">
                                              <div class="css-175oi2r"
                                                style="position: absolute; top: 3px; left: 3px; width: 54px; height: 54px; border-radius: 27px; background-color: rgb(113, 99, 203); transform: scale(0.01); opacity: 0.3;">
                                              </div>
                                              <div class="css-175oi2r r-1awozwy r-1777fci"
                                                style="width: 60px; height: 60px;">
                                                <div dir="auto" class="css-146c3p1 r-lrvibr"
                                                  style="font-size: 30px; color: rgb(113, 99, 203); font-family: MaterialIcons; font-weight: normal; font-style: normal;">
                                                  </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="css-175oi2r r-12vffkv"
                                      style="position: absolute; top: 36px; transform: translateX(0px) translateY(0px); left: 40.5128%; width: 18.9744%; height: auto; z-index: 3;">
                                      <div class="css-175oi2r r-12vffkv" style="position: relative;">
                                        <div class="css-175oi2r r-105ug2t"
                                          style="top: 0px; left: 0px; width: 100%; height: auto; z-index: 3; position: relative; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                          <div style="display: flex; flex: 1 1 0%; position: relative;">
                                            <div dir="auto" class="css-146c3p1"
                                              style="color: rgb(113, 99, 203); font-size: 27px; font-weight: 500; text-align: left; font-family: inherit; min-height: 32px; flex: 1 1 0%; width: 100%;">
                                              Inicio</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="css-175oi2r r-12vffkv"
                                      style="position: absolute; top: 169px; transform: translateX(0px) translateY(0px); left: 4.10256%; width: 43.5897%; height: 244px; z-index: 4;">
                                      <div tabindex="0" class="css-175oi2r r-lrvibr r-1loqt21 r-1otgn73"
                                        style="top: 0px; left: 0px; width: 100%; height: 246px; z-index: 4; position: absolute; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                        <div class="css-175oi2r" style="flex-direction: column;">
                                          <div class="css-175oi2r" style="flex-direction: column; opacity: 1;">
                                            <div class="css-175oi2r r-u8s1d"
                                              style="box-shadow: rgb(113, 99, 203) 0px 1px 4px; border-radius: 19px; border-width: 0px; background-color: rgb(255, 255, 255); inset: 0px;">
                                              <div
                                                class="css-175oi2r r-1p0dtai r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af"
                                                style="border-radius: 19px;">
                                                <div class="css-175oi2r" style="flex: 1 1 0%; margin: 0px;"></div>
                                              </div>
                                            </div>
                                            <div class="css-175oi2r" style="height: 244px;">
                                              <div class="css-175oi2r r-12vffkv"
                                                style="position: absolute; top: 43px; transform: translateX(0px) translateY(0px); left: 7.94118%; width: 84.1176%; height: 147px; z-index: 5;">
                                                <div class="css-175oi2r r-105ug2t"
                                                  style="top: 0px; left: 0px; width: 100%; height: 147px; z-index: 5; position: absolute; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                                  <div class="css-175oi2r r-u8s1d"
                                                    style="border-radius: 0px; border-width: 0px; background-color: rgba(0, 0, 0, 0); inset: 0px;">
                                                    <div
                                                      class="css-175oi2r r-1p0dtai r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af"
                                                      style="border-radius: 0px;">
                                                      <div class="css-175oi2r" style="flex: 1 1 0%; margin: 0px;">
                                                        <div class="css-175oi2r r-1pi2tsx r-u8s1d r-13qz1uu r-184en5c"
                                                          style="opacity: 0;">
                                                          <div class="css-175oi2r r-1mlwlqe r-1udh08x r-417010"
                                                            style="width: 143px; height: 147px;">
                                                            <div
                                                              class="css-175oi2r r-1niwhzg r-vvn4in r-u6sd8q r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw r-ehq7j7"
                                                              style="background-image: url(&quot;blob:https://previewer.adalo.com/d87d384e-605e-4da3-a6dd-cb9b70baba8e&quot;);">
                                                            </div><img alt="" draggable="false"
                                                              src="blob:https://previewer.adalo.com/d87d384e-605e-4da3-a6dd-cb9b70baba8e"
                                                              class="css-9pa8cd">
                                                          </div>
                                                        </div>
                                                        <div class="css-175oi2r r-1mlwlqe r-1udh08x r-13awgt0 r-417010">
                                                          <div
                                                            class="css-175oi2r r-1niwhzg r-vvn4in r-u6sd8q r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw r-ehq7j7"
                                                            style="background-image: url(&quot;https://proton-resources-production.imgix.net/2c16d5d79019eaa91f9ad78a536d2e15eed2d77a4e2fb471f3ffea17dd3fe26f.png?h=147&amp;dpr=2&amp;auto=format%2Ccompress&amp;orient=&quot;);">
                                                          </div><img alt="" draggable="false"
                                                            src="https://proton-resources-production.imgix.net/2c16d5d79019eaa91f9ad78a536d2e15eed2d77a4e2fb471f3ffea17dd3fe26f.png?h=147&amp;dpr=2&amp;auto=format%2Ccompress&amp;orient="
                                                            class="css-9pa8cd">
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="css-175oi2r" style="height: 147px;"></div>
                                                </div>
                                              </div>
                                              <div class="css-175oi2r r-12vffkv"
                                                style="position: absolute; top: 209px; transform: translateX(0px) translateY(0px); left: 27.9412%; width: 51.1765%; height: auto; z-index: 6;">
                                                <div class="css-175oi2r r-12vffkv" style="position: relative;">
                                                  <div class="css-175oi2r r-105ug2t"
                                                    style="top: 0px; left: 0px; width: 100%; height: auto; z-index: 6; position: relative; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                                    <div style="display: flex; flex: 1 1 0%; position: relative;">
                                                      <div dir="auto" class="css-146c3p1"
                                                        style="color: rgb(117, 117, 117); font-size: 16px; font-weight: 500; text-align: left; font-family: inherit; min-height: 19px; flex: 1 1 0%; width: 100%;">
                                                        Lecciones</div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="css-175oi2r r-12vffkv"
                                      style="position: absolute; top: 169px; transform: translateX(0px) translateY(0px); left: 51.2821%; width: 43.8462%; height: 244px; z-index: 7;">
                                      <div tabindex="0" class="css-175oi2r r-lrvibr r-1loqt21 r-1otgn73"
                                        style="top: 0px; left: 0px; width: 100%; height: 246px; z-index: 7; position: absolute; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                        <div class="css-175oi2r" style="flex-direction: column;">
                                          <div class="css-175oi2r" style="flex-direction: column; opacity: 1;">
                                            <div class="css-175oi2r r-u8s1d"
                                              style="box-shadow: rgb(113, 99, 203) 0px 1px 4px; border-radius: 19px; border-width: 0px; background-color: rgb(255, 255, 255); inset: 0px;">
                                              <div
                                                class="css-175oi2r r-1p0dtai r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af"
                                                style="border-radius: 19px;">
                                                <div class="css-175oi2r" style="flex: 1 1 0%; margin: 0px;"></div>
                                              </div>
                                            </div>
                                            <div class="css-175oi2r" style="height: 244px;">
                                              <div class="css-175oi2r r-12vffkv"
                                                style="position: absolute; top: 46px; transform: translateX(0px) translateY(0px); left: 4.09357%; width: 91.8129%; height: 152px; z-index: 8;">
                                                <div class="css-175oi2r r-105ug2t"
                                                  style="top: 0px; left: 0px; width: 100%; height: 152px; z-index: 8; position: absolute; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                                  <div class="css-175oi2r r-u8s1d"
                                                    style="border-radius: 0px; border-width: 0px; background-color: rgba(0, 0, 0, 0); inset: 0px;">
                                                    <div
                                                      class="css-175oi2r r-1p0dtai r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af"
                                                      style="border-radius: 0px;">
                                                      <div class="css-175oi2r" style="flex: 1 1 0%; margin: 0px;">
                                                        <div class="css-175oi2r r-1pi2tsx r-u8s1d r-13qz1uu r-184en5c"
                                                          style="opacity: 0;">
                                                          <div class="css-175oi2r r-1mlwlqe r-1udh08x r-417010"
                                                            style="width: 157px; height: 152px;">
                                                            <div
                                                              class="css-175oi2r r-1niwhzg r-vvn4in r-u6sd8q r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw r-ehq7j7"
                                                              style="background-image: url(&quot;blob:https://previewer.adalo.com/572bf1d4-1ac3-4d52-8855-9b531994b5f6&quot;);">
                                                            </div><img alt="" draggable="false"
                                                              src="blob:https://previewer.adalo.com/572bf1d4-1ac3-4d52-8855-9b531994b5f6"
                                                              class="css-9pa8cd">
                                                          </div>
                                                        </div>
                                                        <div class="css-175oi2r r-1mlwlqe r-1udh08x r-13awgt0 r-417010">
                                                          <div
                                                            class="css-175oi2r r-1niwhzg r-vvn4in r-u6sd8q r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw r-ehq7j7"
                                                            style="background-image: url(&quot;https://proton-resources-production.imgix.net/eb4667d62bea3c292c033b517d0b909d06731d2c5ba32c2555f5c68e1866e76a.png?w=157&amp;dpr=2&amp;auto=format%2Ccompress&amp;orient=&quot;);">
                                                          </div><img alt="" draggable="false"
                                                            src="https://proton-resources-production.imgix.net/eb4667d62bea3c292c033b517d0b909d06731d2c5ba32c2555f5c68e1866e76a.png?w=157&amp;dpr=2&amp;auto=format%2Ccompress&amp;orient="
                                                            class="css-9pa8cd">
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="css-175oi2r" style="height: 152px;"></div>
                                                </div>
                                              </div>
                                              <div class="css-175oi2r r-12vffkv"
                                                style="position: absolute; top: 209px; transform: translateX(0px) translateY(0px); left: 27.9412%; width: 51.1765%; height: auto; z-index: 9;">
                                                <div class="css-175oi2r r-12vffkv" style="position: relative;">
                                                  <div class="css-175oi2r r-105ug2t"
                                                    style="top: 0px; left: 0px; width: 100%; height: auto; z-index: 9; position: relative; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                                    <div style="display: flex; flex: 1 1 0%; position: relative;">
                                                      <div dir="auto" class="css-146c3p1"
                                                        style="color: rgb(117, 117, 117); font-size: 16px; font-weight: 500; text-align: left; font-family: inherit; min-height: 19px; flex: 1 1 0%; width: 100%;">
                                                        Diccionario</div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="css-175oi2r r-12vffkv"
                                      style="position: absolute; top: 437px; transform: translateX(0px) translateY(0px); left: 4.10256%; width: 43.8462%; height: 244px; z-index: 10;">
                                      <div tabindex="0" class="css-175oi2r r-lrvibr r-1loqt21 r-1otgn73"
                                        style="top: 0px; left: 0px; width: 100%; height: 246px; z-index: 10; position: absolute; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                        <div class="css-175oi2r" style="flex-direction: column;">
                                          <div class="css-175oi2r" style="flex-direction: column; opacity: 1;">
                                            <div class="css-175oi2r r-u8s1d"
                                              style="box-shadow: rgb(113, 99, 203) 0px 1px 4px; border-radius: 19px; border-width: 0px; background-color: rgb(255, 255, 255); inset: 0px;">
                                              <div
                                                class="css-175oi2r r-1p0dtai r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af"
                                                style="border-radius: 19px;">
                                                <div class="css-175oi2r" style="flex: 1 1 0%; margin: 0px;"></div>
                                              </div>
                                            </div>
                                            <div class="css-175oi2r" style="height: 244px;">
                                              <div class="css-175oi2r r-12vffkv"
                                                style="position: absolute; top: 46px; transform: translateX(0px) translateY(0px); left: 4.09357%; width: 91.8129%; height: 152px; z-index: 11;">
                                                <div class="css-175oi2r r-105ug2t"
                                                  style="top: 0px; left: 0px; width: 100%; height: 152px; z-index: 11; position: absolute; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                                  <div class="css-175oi2r r-u8s1d"
                                                    style="border-radius: 0px; border-width: 0px; background-color: rgba(0, 0, 0, 0); inset: 0px;">
                                                    <div
                                                      class="css-175oi2r r-1p0dtai r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af"
                                                      style="border-radius: 0px;">
                                                      <div class="css-175oi2r" style="flex: 1 1 0%; margin: 0px;">
                                                        <div class="css-175oi2r r-1pi2tsx r-u8s1d r-13qz1uu r-184en5c"
                                                          style="opacity: 0;">
                                                          <div class="css-175oi2r r-1mlwlqe r-1udh08x r-417010"
                                                            style="width: 157px; height: 152px;">
                                                            <div
                                                              class="css-175oi2r r-1niwhzg r-vvn4in r-u6sd8q r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw r-ehq7j7"
                                                              style="background-image: url(&quot;blob:https://previewer.adalo.com/1af2e07a-c6dd-4bf8-a10d-50c20184dc78&quot;);">
                                                            </div><img alt="" draggable="false"
                                                              src="blob:https://previewer.adalo.com/1af2e07a-c6dd-4bf8-a10d-50c20184dc78"
                                                              class="css-9pa8cd">
                                                          </div>
                                                        </div>
                                                        <div class="css-175oi2r r-1mlwlqe r-1udh08x r-13awgt0 r-417010">
                                                          <div
                                                            class="css-175oi2r r-1niwhzg r-vvn4in r-u6sd8q r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw r-ehq7j7"
                                                            style="background-image: url(&quot;https://proton-resources-production.imgix.net/f0421588bfeaccbd87d25bb8641311615d0a0e06d4cd9ee910dca9309e4b6eb6.png?w=157&amp;dpr=2&amp;auto=format%2Ccompress&amp;orient=&quot;);">
                                                          </div><img alt="" draggable="false"
                                                            src="https://proton-resources-production.imgix.net/f0421588bfeaccbd87d25bb8641311615d0a0e06d4cd9ee910dca9309e4b6eb6.png?w=157&amp;dpr=2&amp;auto=format%2Ccompress&amp;orient="
                                                            class="css-9pa8cd">
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="css-175oi2r" style="height: 152px;"></div>
                                                </div>
                                              </div>
                                              <div class="css-175oi2r r-12vffkv"
                                                style="position: absolute; top: 209px; transform: translateX(0px) translateY(0px); left: 28.0702%; width: 54.9708%; height: auto; z-index: 12;">
                                                <div class="css-175oi2r r-12vffkv" style="position: relative;">
                                                  <div class="css-175oi2r r-105ug2t"
                                                    style="top: 0px; left: 0px; width: 100%; height: auto; z-index: 12; position: relative; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                                    <div style="display: flex; flex: 1 1 0%; position: relative;">
                                                      <div dir="auto" class="css-146c3p1"
                                                        style="color: rgb(117, 117, 117); font-size: 16px; font-weight: 500; text-align: left; font-family: inherit; min-height: 19px; flex: 1 1 0%; width: 100%;">
                                                        Videoteca</div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="css-175oi2r r-12vffkv"
                                      style="position: absolute; top: 437px; transform: translateX(0px) translateY(0px); left: 52.0513%; width: 43.8462%; height: 244px; z-index: 13;">
                                      <div tabindex="0" class="css-175oi2r r-lrvibr r-1loqt21 r-1otgn73"
                                        style="top: 0px; left: 0px; width: 100%; height: 248px; z-index: 13; position: absolute; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                        <div class="css-175oi2r" style="flex-direction: column;">
                                          <div class="css-175oi2r" style="flex-direction: column; opacity: 1;">
                                            <div class="css-175oi2r r-u8s1d"
                                              style="box-shadow: rgb(113, 99, 203) 0px 1px 4px; border-radius: 19px; border-width: 0px; background-color: rgb(255, 255, 255); inset: 0px;">
                                              <div
                                                class="css-175oi2r r-1p0dtai r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af"
                                                style="border-radius: 19px;">
                                                <div class="css-175oi2r" style="flex: 1 1 0%; margin: 0px;"></div>
                                              </div>
                                            </div>
                                            <div class="css-175oi2r" style="height: 244px;">
                                              <div class="css-175oi2r r-12vffkv"
                                                style="position: absolute; top: 48px; transform: translateX(0px) translateY(0px); left: 4.09357%; width: 91.8129%; height: 152px; z-index: 14;">
                                                <div class="css-175oi2r r-105ug2t"
                                                  style="top: 0px; left: 0px; width: 100%; height: 152px; z-index: 14; position: absolute; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                                  <div class="css-175oi2r r-u8s1d"
                                                    style="border-radius: 0px; border-width: 0px; background-color: rgba(0, 0, 0, 0); inset: 0px;">
                                                    <div
                                                      class="css-175oi2r r-1p0dtai r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af"
                                                      style="border-radius: 0px;">
                                                      <div class="css-175oi2r" style="flex: 1 1 0%; margin: 0px;">
                                                        <div class="css-175oi2r r-1pi2tsx r-u8s1d r-13qz1uu r-184en5c"
                                                          style="opacity: 0;">
                                                          <div class="css-175oi2r r-1mlwlqe r-1udh08x r-417010"
                                                            style="width: 157px; height: 152px;">
                                                            <div
                                                              class="css-175oi2r r-1niwhzg r-vvn4in r-u6sd8q r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw r-ehq7j7"
                                                              style="background-image: url(&quot;blob:https://previewer.adalo.com/2786ad91-ca09-4f7b-9626-8120ed0cc9a9&quot;);">
                                                            </div><img alt="" draggable="false"
                                                              src="blob:https://previewer.adalo.com/2786ad91-ca09-4f7b-9626-8120ed0cc9a9"
                                                              class="css-9pa8cd">
                                                          </div>
                                                        </div>
                                                        <div class="css-175oi2r r-1mlwlqe r-1udh08x r-13awgt0 r-417010">
                                                          <div
                                                            class="css-175oi2r r-1niwhzg r-vvn4in r-u6sd8q r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw r-ehq7j7"
                                                            style="background-image: url(&quot;https://proton-resources-production.imgix.net/9c895a6a087441c228055f96c3ef24a48352c165604661ade2724eefa70133eb.png?w=157&amp;dpr=2&amp;auto=format%2Ccompress&amp;orient=&quot;);">
                                                          </div><img alt="" draggable="false"
                                                            src="https://proton-resources-production.imgix.net/9c895a6a087441c228055f96c3ef24a48352c165604661ade2724eefa70133eb.png?w=157&amp;dpr=2&amp;auto=format%2Ccompress&amp;orient="
                                                            class="css-9pa8cd">
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="css-175oi2r" style="height: 152px;"></div>
                                                </div>
                                              </div>
                                              <div class="css-175oi2r r-12vffkv"
                                                style="position: absolute; top: 211px; transform: translateX(0px) translateY(0px); left: 28.0702%; width: 54.9708%; height: auto; z-index: 15;">
                                                <div class="css-175oi2r r-12vffkv" style="position: relative;">
                                                  <div class="css-175oi2r r-105ug2t"
                                                    style="top: 0px; left: 0px; width: 100%; height: auto; z-index: 15; position: relative; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                                    <div style="display: flex; flex: 1 1 0%; position: relative;">
                                                      <div dir="auto" class="css-146c3p1"
                                                        style="color: rgb(117, 117, 117); font-size: 16px; font-weight: 500; text-align: left; font-family: inherit; min-height: 19px; flex: 1 1 0%; width: 100%;">
                                                        Traductor</div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="css-175oi2r r-12vffkv"
                                                style="position: absolute; top: 8px; transform: translateX(0px) translateY(0px); left: 68.4211%; width: 29.8246%; height: auto; z-index: 16;">
                                                <div class="css-175oi2r r-12vffkv" style="position: relative;">
                                                  <div class="css-175oi2r r-105ug2t"
                                                    style="top: 0px; left: 0px; width: 100%; height: auto; z-index: 16; position: relative; margin-top: 0px; margin-left: 0px; right: 0px; opacity: 1;">
                                                    <div style="display: flex; flex: 1 1 0%; position: relative;">
                                                      <div dir="auto" class="css-146c3p1"
                                                        style="color: rgb(255, 44, 0); font-size: 16px; font-weight: 500; text-align: left; font-family: inherit; min-height: 19px; flex: 1 1 0%; width: 100%;">
                                                        Demo</div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="css-175oi2r r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-184en5c r-12vffkv"
                      style="padding-top: 20px; padding-bottom: 40px;">
                      <div class="css-175oi2r r-13awgt0 r-1mdbw0j r-12vffkv"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="css-175oi2r r-1d2f490 r-u8s1d r-zchlnj r-ipm5af"></div>
              <div class="css-175oi2r r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj"></div>
            </div>
            <div class="status-bar-wrapper status-bar-wrapper--responsive">
              <div class="status-bar status-bar-dark status-bar-responsive">
                <div class="status-bar-element status-bar-element-responsive-time status-bar-element-align-center">
                  <div class="status-bar-clock">11:19</div>
                </div>
                <div class="status-bar-element status-bar-element-responsive status-bar-element-align-center">
                  <div
                    class="status-bar-element status-bar-element-connection-bars-responsive status-bar-element-align-center">
                    <div class="status-bar-icon status-bar-icon-connection-bars-responsive"></div>
                  </div>
                  <div class="status-bar-element status-bar-element-wifi-responsive status-bar-element-align-center">
                    <div class="status-bar-icon status-bar-icon-wifi-responsive"></div>
                  </div>
                  <div class="status-bar-element status-bar-element-battery-responsive status-bar-element-align-center">
                    <div class="status-bar-icon status-bar-icon-battery-responsive"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-border"></div>
</div>

